#kdl_header {
  width: 100%;
  height: 35px;
  background-color: #f9f9f9;
  line-height: 35px;
}

#kdl_header .ht_left li {
  float: left;
  font-size: 12px;
  color: #666666;
  margin-right: 15px;
}

#kdl_header .ht_left li a {
  color: #666666;
}

#kdl_header .ht_left li:nth-child(1):hover a {
  color: #f03b43;
}

#kdl_header .ht_left li:nth-child(3) a {
  color: #f03b43;
}

#kdl_header .ht_left li:nth-child(4) a {
  color: #f03b43;
}

#kdl_header .ht_right li {
  float: left;
  position: relative;
}

#kdl_header .ht_right li span {
  display: inline-block;
  height: 11px;
  line-height: 11px;
  font-size: 12px;
  color: #666666;
  padding: 0 10px 0 10px;
  border-right: 2px solid #ccc;
}

#kdl_header .ht_right li i {
  display: block;
  width: 7px;
  height: 4px;
  background: url(../img/sprites.png) -2px -142px;
  position: absolute;
  right: 8px;
  top: 15px;
}

#kdl_header .ht_right li ul {
  display: none;
}

#kdl_header .ht_right li:nth-child(3) i {
  display: block;
  width: 9px;
  height: 16px;
  background: url(../img/sprites.png) -7px -122px;
  left: 8px;
  top: 9px;
}

#kdl_header .ht_right li:last-child span {
  border-right: 0 none;
}

#kdl_header .ht_right .li_co:hover span {
  color: #f03b43;
}

#kdl_header .ht_right .ri_icon {
  padding-right: 20px;
}

#kdl_header .ht_right .le_icon {
  padding-left: 20px;
}

#kdl_search .container {
  height: 95px;
}

#kdl_search .container h1 {
  width: 330px;
  height: 90px;
  background: url("../img/logo.jpg");
}

#kdl_search .container h1 a {
  display: block;
  margin-top: 70px;
}

#kdl_search .container .se_center {
  width: 550px;
  height: 70px;
  margin-top: 20px;
  margin-left: -70px;
}

#kdl_search .container .se_center form {
  width: 500px;
}

#kdl_search .container .se_center form .txt {
  width: 380px;
  height: 20px;
  font-size: 14px;
  padding: 5px 10px;
  color: #999999;
  line-height: 20px;
  border: 2px solid #e3393c;
  float: left;
}

#kdl_search .container .se_center form .btn {
  width: 70px;
  height: 34px;
  background-color: #e3393c;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  float: left;
}

#kdl_search .container .se_center ul {
  width: 587px;
  height: 36px;
}

#kdl_search .container .se_center ul li {
  float: left;
  line-height: 30px;
  margin-right: 10px;
  color: #999999;
}

#kdl_search .container .se_center ul li a {
  color: #999999;
}

#kdl_search .container .se_right {
  width: 132px;
  height: 82px;
  padding-left: 45px;
}

#kdl_search .container .se_right ul {
  margin-top: 13px;
}

#kdl_search .container .se_right ul li {
  width: 95px;
  height: 30px;
  border: 1px solid #efefef;
  padding-left: 35px;
  line-height: 30px;
  margin-bottom: 5px;
  background: url(../img/sprites2.png) -170px -60px no-repeat;
  background-color: #f7f7f7;
}

#kdl_search .container .se_right ul li a {
  color: #555555;
  margin-right: 10px;
}

#kdl_search .container .se_right ul li a span {
  color: #f54343;
}

#kdl_search .container .se_right ul li a strong {
  display: inline-block;
  color: #f54343;
  font-weight: bold;
  padding: 0px 2px;
}

#kdl_search .container .se_right ul li a:hover {
  color: #f54343;
  text-decoration: underline;
}

#kdl_search .container .se_right ul li:nth-child(2) {
  background: url(../img/sprites2.png) -170px -90px no-repeat;
  background-color: #f7f7f7;
}

#kdl_search .container .se_right ul li:nth-child(2):hover {
  border: 1px solid #f54343;
}

#kdl_search .container .se_right ul li:nth-child(2):hover a:hover {
  color: #f54343;
  text-decoration: none;
}

#kdl_search .container .se_Rlogo {
  width: 205px;
  height: 73px;
  margin-top: 13px;
  background: url("../img/logo2.png");
}

#kdl_nav .container {
  height: 40px;
}

#kdl_nav .container .nav_le {
  width: 210px;
}

#kdl_nav .container .nav_le a.fenlei {
  background-color: #db3135;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: "microsoft yahei";
  color: #fff;
  font-weight: bold;
  padding-left: 20px;
}

#kdl_nav .container .nav_le ul {
  width: 206px;
  height: 446px;
  padding: 10px 0;
  background-color: #f6f6f6;
  font-family: "microsoft yahei";
}

#kdl_nav .container .nav_le ul li {
  width: 186px;
  height: 28px;
  line-height: 28px;
  padding-left: 20px;
}

#kdl_nav .container .nav_le ul li a {
  color: #000;
  font-size: 14px;
  font-weight: none;
}

#kdl_nav .container .nav_cen {
  width: 750px;
  background-color: #f03b44;
}

#kdl_nav .container .nav_cen li {
  float: left;
  height: 40px;
  line-height: 40px;
}

#kdl_nav .container .nav_cen li a {
  display: block;
  padding: 0 18px;
  color: #fff;
  font-size: 14px;
  font-family: "microsoft yahei";
  position: relative;
}

#kdl_nav .container .nav_cen li a .arrow {
  display: inline-block;
  margin-left: 4px;
  width: 0;
  height: 0;
  border-top: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

#kdl_nav .container .nav_cen li a .audio {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url("../img/kdlicon.png") -369px -55px;
  margin-left: 4px;
}

#kdl_nav .container .nav_cen li:hover {
  background-color: #db3135;
}

#kdl_nav .container .nav_ri {
  width: 290px;
  height: 40px;
  margin-left: -50px;
  background: url("../img/phone.gif") no-repeat;
}

#kdl_footer {
  width: 100%;
  height: 323px;
  margin-top: 20px;
}

#kdl_footer .foot_link {
  height: 162px;
  padding: 20px 0 10px 0;
  background-color: #f03b43;
}

#kdl_footer .foot_link .link_cont {
  width: 960px;
  margin: 0 auto;
}

#kdl_footer .foot_link .link_cont dl {
  width: 124px;
  height: 162px;
  float: left;
  padding-left: 36px;
  background: url("../img/b1.gif") no-repeat;
}

#kdl_footer .foot_link .link_cont dl dt {
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

#kdl_footer .foot_link .link_cont dl dd {
  height: 22px;
  color: #ffbec1;
  padding-left: 8px;
  background: url("../img/whitedot.gif") left center no-repeat;
}

#kdl_footer .foot_link .link_cont dl dd:hover {
  color: #fff;
  text-decoration: underline;
}

#kdl_footer .foot_link .link_cont dl:nth-child(2) {
  background: url("../img/b2.gif") no-repeat;
}

#kdl_footer .foot_link .link_cont dl:nth-child(3) {
  background: url("../img/b3.gif") no-repeat;
}

#kdl_footer .foot_link .link_cont dl:nth-child(4) {
  background: url("../img/b4.gif") no-repeat;
}

#kdl_footer .foot_link .link_cont dl:nth-child(5) {
  background: url("../img/b5.gif") no-repeat;
}

#kdl_footer .foot_link .link_cont dl:nth-child(6) {
  background: url("../img/b6.gif") no-repeat;
}

#kdl_footer .foot_cont {
  height: 131px;
}

#kdl_footer .foot_cont .cont {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

#kdl_footer .foot_cont .cont .copyright {
  line-height: 30px;
  height: 30px;
  text-align: center;
}

#kdl_footer .foot_cont .cont .copyright a {
  color: #f03b43;
  padding: 0 5px;
}

#kdl_footer .foot_cont .cont .cont_bottom {
  height: 80px;
  padding-top: 20px;
}

#kdl_footer .foot_cont .cont .cont_bottom .bot_left {
  width: 760px;
}

#kdl_footer .foot_cont .cont .cont_bottom .bot_left p {
  text-align: right;
  line-height: 20px;
  color: #656565;
}

#kdl_footer .foot_cont .cont .cont_bottom .bot_left p span {
  color: #f03b43;
}

#kdl_footer .foot_cont .cont .cont_bottom .bot_right {
  width: 160px;
  margin-left: 30px;
}
